# Pandas Series

In [1]:
import numpy as np
import pandas as pd

## Series From Lists

In [2]:
# String
country = ['Pakistan', 'China', 'India', 'Saudi', 'Nepal', 'Afghanistan']
pd.Series(country)

0       Pakistan
1          China
2          India
3          Saudi
4          Nepal
5    Afghanistan
dtype: object

In [3]:
# Integers
nums = [15, 25, 20, 35, 10, 55, 35, 40, 5]
pd.Series(nums)

0    15
1    25
2    20
3    35
4    10
5    55
6    35
7    40
8     5
dtype: int64

In [4]:
# Custom Index
marks = [65, 55, 85, 90, 95, 99, 82, 74]
subjects = ['Geography', 'History', 'Computer', 'Math', 'Urdu', 'English', 'Science', 'Islamiat']
pd.Series(marks, index=subjects)

Geography    65
History      55
Computer     85
Math         90
Urdu         95
English      99
Science      82
Islamiat     74
dtype: int64

In [5]:
# Setting a name
marks=pd.Series(marks, index=subjects, name="Student's Marks")
marks

Geography    65
History      55
Computer     85
Math         90
Urdu         95
English      99
Science      82
Islamiat     74
Name: Student's Marks, dtype: int64

## Series From Dict

In [7]:
marks = {
    'Geography' : 65,
    'History' : 55,
    'Computer' : 85,
    'Math' : 90,
    'Urdu' : 95,
    'English' : 99
}

marks_series = pd.Series(marks, name= "Student's Marks")
print(marks_series)

Geography    65
History      55
Computer     85
Math         90
Urdu         95
English      99
Name: Student's Marks, dtype: int64

## Series Attributes

In [ ]:
# size

In [ ]:
# dtype

In [ ]:
# name

In [ ]:
# is_unique

In [ ]:
# index

In [ ]:
# values