# Editing Series

In [1]:
import numpy as np
import pandas as pd

In [3]:
bw_movies = pd.read_csv(r'C:\Users\HP\Pandas\bollywood.csv', index_col = 'movie').squeeze(True)
bw_movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [4]:
marks = {
    'Geography' : 65,
    'History' : 55,
    'Computer' : 85,
    'Math' : 90,
    'Urdu' : 95,
    'English' : 99
}

marks_series = pd.Series(marks, name= "Student's Marks")
print(marks_series)

Geography    65
History      55
Computer     85
Math         90
Urdu         95
English      99
Name: Student's Marks, dtype: int64

In [9]:
# using indexing
marks_series[0] = 75
marks_series

C:\Users\HP\AppData\Local\Temp\ipykernel_10256\3290859077.py:2: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  marks_series[0] = 75

Geography    75
History      55
Computer     85
Math         90
Urdu         95
English      99
Name: Student's Marks, dtype: int64

In [10]:
marks_series[1] = 65
marks_series

C:\Users\HP\AppData\Local\Temp\ipykernel_10256\1427412654.py:1: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  marks_series[1] = 65

Geography    75
History      65
Computer     85
Math         90
Urdu         95
English      99
Name: Student's Marks, dtype: int64

In [12]:
# what if an index does not exist
marks_series['Islamiat'] = 95
marks_series

Geography    75
History      65
Computer     85
Math         90
Urdu         95
English      99
Islamiat     95
Name: Student's Marks, dtype: int64

In [13]:
# slicing
marks_series[2:4]=[80, 95]
marks_series

Geography    75
History      65
Computer     80
Math         95
Urdu         95
English      99
Islamiat     95
Name: Student's Marks, dtype: int64

In [14]:
bw_movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [16]:
# using index label
bw_movies['Hum Tumhare Hain Sanam'] = 'Arjun'
bw_movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                             Arjun
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [18]:
# fancy indexing
runs = pd.Series([15, 35, 85, 45, 50, 65, 75, 0, 25, 55, 60])
runs[[2, 6, 8]] = [75, 80, 40]
runs

0     15
1     35
2     75
3     45
4     50
5     65
6     80
7      0
8     40
9     55
10    60
dtype: int64