# Series Methods

In [27]:
import pandas as pd
import numpy as np

In [2]:
subs = pd.read_csv(r'C:\Users\HP\Pandas\subscribers.csv').squeeze(True)
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [3]:
bw_movies = pd.read_csv(r'C:\Users\HP\Pandas\bollywood.csv', index_col = 'movie').squeeze(True)
bw_movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [4]:
match_runs = pd.read_csv(r'C:\Users\HP\Pandas\kohli_match_run.csv', index_col = 'match_no').squeeze(True)
match_runs

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [8]:
import sys

print(f'Size of the data before changing the type: {sys.getsizeof(match_runs)}')

# astype ---> change the type of your data
print(f"Size of the data after changing the type: {sys.getsizeof(match_runs.astype('int16'))}")

Size of the data before changing the type: 3472
Size of the data after changing the type: 2182

In [9]:
# between ---> will return boolean series
match_runs.between(50, 100)

match_no
1      False
2      False
3      False
4      False
5      False
       ...
211    False
212    False
213     True
214    False
215    False
Name: runs, Length: 215, dtype: bool

In [10]:
match_runs[match_runs.between(50, 100)]

match_no
15      50
34      58
41      71
44      56
45      67
52      70
57      57
68      73
71      51
73      58
74      65
80      57
81      93
82      99
85      56
97      67
99      73
103     51
104     62
110     82
116     75
117     79
119     80
120    100
122     52
127     75
129     54
131     54
132     62
134     64
137     55
141     58
144     57
145     92
148     68
152     70
160     84
162     67
164    100
175     72
178     90
182     50
188     72
197     51
198     53
209     58
213     73
Name: runs, dtype: int64

In [11]:
match_runs[match_runs.between(50, 100)].size

47

In [12]:
# clip ---> values less than 100 will become 100, the values greater than 200 will become 200, and the values between 100 and 200 will remain unchange.
subs.clip(100, 200)

0      100
1      100
2      100
3      100
4      100
      ...
360    200
361    200
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [17]:
# drop_duplicates
temp = pd.Series([1, 2, 3, 4, 1, 1, 2, 5, 5, 4, 3, 8, 9, 6,])
print(f'Before drop:\n{temp}')
print(f'\nAfter drop:\n{temp.drop_duplicates()}')

Before drop:
0     1
1     2
2     3
3     4
4     1
5     1
6     2
7     5
8     5
9     4
10    3
11    8
12    9
13    6
dtype: int64

After drop:
0     1
1     2
2     3
3     4
7     5
11    8
12    9
13    6
dtype: int64

In [18]:
temp.drop_duplicates(keep='last') # ---> will remove last occurance

5     1
6     2
8     5
9     4
10    3
11    8
12    9
13    6
dtype: int64

In [19]:
temp.drop_duplicates(keep='first') # ---> will remove first occurance

0     1
1     2
2     3
3     4
7     5
11    8
12    9
13    6
dtype: int64

In [21]:
# duplicated
temp.duplicated() # will return whether Series has duplicate values or not.

0     False
1     False
2     False
3     False
4      True
5      True
6      True
7     False
8      True
9      True
10     True
11    False
12    False
13    False
dtype: bool

In [22]:
temp.duplicated().sum() # will return total number of duplicate values.

np.int64(6)

In [24]:
bw_movies.duplicated().sum()

np.int64(934)

In [25]:
subs.duplicated().sum()

np.int64(185)

In [26]:
match_runs.duplicated().sum()

np.int64(137)

In [28]:
temp_series = pd.Series([25, 15, 26, np.nan, 5, 9, 11, np.nan, np.nan, 20, 55, np.nan])
temp_series

0     25.0
1     15.0
2     26.0
3      NaN
4      5.0
5      9.0
6     11.0
7      NaN
8      NaN
9     20.0
10    55.0
11     NaN
dtype: float64

In [30]:
temp_series.size # ---> it will return the size of data included null values

12

In [32]:
temp_series.count() # ---> it will not count missing values

np.int64(8)

In [33]:
# isnull
match_runs.isnull() # there are no missing values.

match_no
1      False
2      False
3      False
4      False
5      False
       ...
211    False
212    False
213    False
214    False
215    False
Name: runs, Length: 215, dtype: bool

In [34]:
match_runs.isnull().sum()

np.int64(0)

In [36]:
temp_series.isnull().sum() # there are 4 missing values.

np.int64(4)

In [37]:
# dropna ---> if you want to drop null values
temp_series.dropna()

0     25.0
1     15.0
2     26.0
4      5.0
5      9.0
6     11.0
9     20.0
10    55.0
dtype: float64

In [38]:
# fillna ---> to replace the null values by a 0 or any logic
temp_series.fillna(0)

0     25.0
1     15.0
2     26.0
3      0.0
4      5.0
5      9.0
6     11.0
7      0.0
8      0.0
9     20.0
10    55.0
11     0.0
dtype: float64

In [39]:
temp_series.fillna(temp_series.mean())

0     25.00
1     15.00
2     26.00
3     20.75
4      5.00
5      9.00
6     11.00
7     20.75
8     20.75
9     20.00
10    55.00
11    20.75
dtype: float64

In [41]:
# isin ---> to check multiple things at a time
(match_runs == 49) | (match_runs == 99)

match_no
1      False
2      False
3      False
4      False
5      False
       ...
211    False
212    False
213    False
214    False
215    False
Name: runs, Length: 215, dtype: bool

In [42]:
match_runs[(match_runs == 49) | (match_runs == 99)]

match_no
82    99
86    49
Name: runs, dtype: int64

In [49]:
match_runs[match_runs.isin([49, 55, 99, 108, 100])]

match_no
82      99
86      49
120    100
123    108
137     55
164    100
Name: runs, dtype: int64

In [51]:
match_runs[match_runs.isin([49, 55, 99, 0, 50])]

match_no
8       0
15     50
82     99
86     49
87      0
91      0
93      0
130     0
135     0
137    55
182    50
206     0
207     0
211     0
Name: runs, dtype: int64

In [54]:
# apply ---> helps you to apply custom logic on your series
bw_movies # before apply

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [55]:
bw_movies.apply(lambda x:x.split()[0].upper())

movie
Uri: The Surgical Strike                  VICKY
Battalion 609                             VICKY
The Accidental Prime Minister (film)     ANUPAM
Why Cheat India                          EMRAAN
Evening Shadows                            MONA
                                         ...
Hum Tumhare Hain Sanam                     SHAH
Aankhen (2002 film)                     AMITABH
Saathiya (film)                           VIVEK
Company (film)                             AJAY
Awara Paagal Deewana                     AKSHAY
Name: lead, Length: 1500, dtype: object

In [56]:
subs.apply(lambda x:'Good day' if x > subs.mean() else 'Bad day')

0       Bad day
1       Bad day
2       Bad day
3       Bad day
4       Bad day
         ...
360    Good day
361    Good day
362    Good day
363    Good day
364    Good day
Name: Subscribers gained, Length: 365, dtype: object

In [57]:
# copy ---> it helps you to do changes without chnaging original
match_runs

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [59]:
new_data = match_runs.head()
new_data

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

In [62]:
new_data[1] = 100
match_runs

match_no
1      100
2       23
3       13
4       12
5        1
      ...
211      0
212     20
213     73
214     25
215      7
Name: runs, Length: 215, dtype: int64

In [65]:
new_data = match_runs.head().copy()
new_data[1] = 50
new_data

match_no
1    50
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

In [66]:
match_runs

match_no
1      100
2       23
3       13
4       12
5        1
      ...
211      0
212     20
213     73
214     25
215      7
Name: runs, Length: 215, dtype: int64